    <div class="containerbox"><h1>75 Words</h1></div>

    <!-- Skeleton  <div>Columns with 1em width, height = to word count * 0.1em or something like that</div><br /><br /> -->
    <div class="bargraph">
        <% @posts.each do |post| %>
            <a href="<%= post_path(post) %>">
                <div class="bar" style="height: <%= (post.wordcount * 0.1) + 1 %>em; background-image: linear-gradient(#444444 1.1em, #<%= SecureRandom.hex(3) %> 1.1em)"><%= post.wordcount %></div>
            </a>
        <% end %>
    </div>
   
    
    <!-- Skeleton new post goes down here<br /> -->
    <div class="containerbox">
        <%= form_with model: @post do |form| %>
            <div>
                <% visualcount = 0; %>
                <%= form.label :body, "Write Here!" %><br>
                <%= form.text_area :body, size: "40x10", onkeyup: visualcount = visualcount + 1  %>
            </div>

            <div id="countDisplay"> 0
                <!-- <%= form.label :wordcount %> -->
                <!-- <%= form.hidden_field :wordcount, value: 4 %> -->
            </div>

            <div>
                <%= form.submit "POST" %>
            </div>

            <script>
                function count_word( val ) {
                    bodyCount = val.split(" ").filter(Boolean).length;
                    return { bodyCount };
                }

                var textCounter = document.getElementById("post_body")
                var countShower = document.getElementById("countDisplay")

                textCounter.addEventListener("input", function() {
                    var finalCount = count_word( this.value );
                    countShower.innerHTML = ( finalCount.bodyCount ); 
                }, false);
            </script>
        <% end %>
    </div>